:root {
  --max-width: 1440px;
}

/************************************/
/* Photographe header */
/************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
textarea {
  padding: 8px;
  border: 0.8px solid #ccc;
  /* outline: none; */
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

/* body {
  overflow: hidden;
} */
/************************************/
/* REUSED STYLE */
/************************************/

.section-center {
  width: 86.12vw;
  /* width: 86.12vw; */
  max-width: var(--max-width);
  margin: 0 auto;
}

/************************************/
/* Photographe header */
/************************************/

/* #contact_modal {
  display: none;
  //position: fixed; 
  z-index: 10;
  // left: 0; 
  // top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(196, 196, 196, 0.4);
//padding-top: 52px; 
} */

/* #contact_modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  //max-height: 100vh;
  // overflow: hidden; 
  overflow: auto;
  // background: #036a65; 
  background-color: rgba(196, 196, 196, 0.4);
  // background-color: #312e2e; 
  // background: #821010; 
  transition: 0.3s ease-in-out;
  display: none;
  // display: flex; 
  justify-content: center;
  align-items: center;
} */

.photographer-contact-name,
.contact-script {
  display: block;
}

.contact-photographer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.photographer-header-element {
  margin-bottom: 50px;
}

.photograph-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* margin: 0 100px; */
  padding: 70px;
}

.photograph-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.photograph-description h1 {
  color: #d3573c;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.photograph-description .location {
  color: #901c1c;
  margin: 0 0 19px 0;
  font-size: 24px;
  font-weight: 400;
}

.photograph-description .description {
  margin-top: 0;
  color: #525252;
  font-size: 23px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button,
.contact_button_send {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 26px;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
}

/************************************/
/* Photographe modal */
/************************************/

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  transition: all 2s ease;
  background: #036a65;
  /* padding-bottom: 60px; */
}

.modal header {
  /* justify-content: space-between; */
  width: 100%;
  background: #312e2e;
  padding: 0px;
}

.modal header img {
  cursor: pointer;
  background: yellow;
  /* background: #821010; */
  padding-bottom: 100px;
  transition: all 2s ease;
  /* position: relative;
  top: -50px; */
}

.modal header h2,
.modal h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.modal h2 {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

/************************************/
/* Photographe form */
/************************************/

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  /* margin-bottom: 26px; */
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

form textarea {
  height: 170px;
}

.input-handler {
  display: none;
  transition: all 2s ease;
}

.formData.error input,
.formData.error textarea {
  color: #901c1c;
  transition: 0.3s;
  border: 2px solid #901c1c;
  transition: all 2s ease;
}

.formData.success input,
.formData.success textarea {
  border: 2px solid #036a65;
  transition: all 2s ease;
}
small {
  color: #901c1c;
  font-size: 20px;
  transition: all 2s ease;
}

/************************************/
/* Photographe medias */
/************************************/

.photograph-work-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;

  column-gap: 95px;
  row-gap: 30px;
  transition: 0.3s ease-in;
}

.photograph-work-container {
  max-width: 365px;
}

.photographer-medias {
  width: 365px;
  height: 300px;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  margin-bottom: 10px;
  transition: 0.3s linear;
}

.photograph-content-img:hover,
.photograph-content-video:hover {
  transform: scale(1.05);
}

.photograph-work-content-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #901c1c;
  white-space: nowrap;
  overflow: hidden;
  height: 35px;
}

.photograph-work-content-description h2 {
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photograph-work-content-description-likes {
  display: flex;
  align-items: center;
}
.photograph-work-content-description-likes button {
  margin-left: 0.6rem;
  background: transparent;
  border: none;
  color: #db8876;
  /* color: #901c1c; */
  font-size: 20px;
}

.photographer-all-medias {
  margin-bottom: 100px;
}

/************************************/
/* Photographe rate and price */
/************************************/

.photographer-rate-and-price-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #db8876;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 376px;
  height: 89px;
  font-size: 24px;
  right: 40px;
  top: 90vh;
}

.photographer-rate-and-price-likes span {
  margin-left: 10px;
}

/************************************/
/* Photographe rate and price */
/************************************/
.full-screen-media,
#contact_modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* max-height: 100vh; */
  overflow: auto;
  /* background: #036a65; */
  background-color: rgba(196, 196, 196, 0.4);
  /* background-color: #312e2e; */
  /* background: #821010; */
  transition: 0.3s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
}

.full-screen-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  /* width: 90vw; */
  width: 900px;
  /* background: yellow; */
  align-items: center;
}

.photograph-work-content-img-modal {
  width: 650px;
  height: 650px;
  object-fit: cover;
  list-style-type: none;
  border-radius: 5px;
  transition: 0.3s linear;
  margin: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.photograph-image-title {
  color: #901c1c;
  font-weight: 100;
  position: relative;
  bottom: 30px;
  left: 45px;
}
.slider-icon {
  font-size: 42px;
  color: #901c1c;
}

.fa-chevron-right {
  background: transparent;
}
.fa-chevron-left {
  height: 100%;
}
.media-close-icon {
  height: 100%;
}

.close-button {
  background: transparent;
  border: none;
  position: relative;
  top: -300px;
  right: 26px;
}

.icons-container {
  display: flex;
  position: relative;
  margin-right: 10px;
}

.first-icon {
  margin-left: 37px;
}

/************************************/
/* Photographe filter */
/************************************/

.photograph-categories {
  display: flex;
  margin: 20px 0px 58px 0px;
  width: 304px;
}

.category-title {
  text-align: center;
  width: 70px;
  height: 120px;
  display: flex;
  align-items: center;
}

.filter-category {
  font-size: 18px;
  font-weight: 400;
}

select {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1em 1.5em;
  color: white;
}

select option {
  background-color: #901c1c;
}

.dropdown {
  width: 170px;
  background: #901c1c;
  margin: 2em;
  position: relative;
  border-radius: 0.5em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #901c1c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.select:hover {
  background: #821010;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

/* rotate styles added later in javascript */

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  padding: 0.2em 0.5em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  color: white;
  top: 3em;
  left: 50%;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.menu li:nth-child(1) {
  border-top: 2px solid white;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  cursor: pointer;
}
.menu li:not(:last-child) {
  border-bottom: 2px solid white;
}

.menu li:hover {
  background: #c54545;
}

/* rotate styles added later in javascript */

.active {
  background: #821010;
}

/* rotate styles added later in javascript */
.menu-open {
  display: block;
  opacity: 1;
}

.hide {
  display: none !important;
}

/************************************/
/* MEDIA QUERIES */
/************************************/

@media screen and (max-width: 1452px) {
  .photographer-medias {
    width: 330px;
  }
}

@media screen and (max-width: 1380px) {
  .photographer-medias {
    width: 300px;
  }
}

@media screen and (max-width: 1250px) {
  /* Photographer all medias displayed */
  .photographer-header-element {
    display: flex;
    justify-content: center;
  }
  .photographer-header-element img {
    margin-left: 0;
  }

  .photograph-work-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .photographer-medias {
    width: 350px;
  }

  /* Photographer profil card */
  .photograph-header {
    flex-direction: column;
  }

  .photograph-description {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .photograph-description h1 {
    text-align: center;
  }

  .contact_button,
  .photograph-header img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  .contact-script,
  .photographer-contact-name {
    font-size: 50px;
  }

  .modal header img {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 880px) {
  .photograph-work-content {
    grid-template-columns: 1fr;
  }

  .photograph-work-content li:nth-child(n) {
    justify-self: center;
    align-items: center;
  }
  .photograph-description .description {
    font-size: 25px;
    text-align: center;
  }
  .modal {
    width: 550px;
  }
}

/* PHOTOGRAPHER PROFIL CARD */
@media screen and (max-width: 450px) {
  .photograph-header {
    padding: 10px;
  }

  .photograph-description h1 {
    font-size: 40px;
  }

  .photograph-description .location {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  .photograph-description .description {
    font-size: 20px;
  }

  .photograph-header img {
    height: 180px;
    width: 180px;
  }
}

/* SLIDER */
@media (min-width: 800px) and (max-width: 900px) {
  .photograph-work-content-img-modal {
    width: 550px;
  }
}
@media (min-width: 700px) and (max-width: 799px) {
  .photograph-work-content-img-modal {
    width: 500px;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .photograph-work-content-img-modal {
    width: 450px;
  }
}

@media (max-width: 699px) {
  .photograph-work-content-img-modal {
    width: 350px;
  }
}

.sort-by {
  background-color: #901c1c;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  height: 60px;
  padding: 0 5px;
  width: 150px;
}

#sort {
  margin-top: 20px;
  margin-bottom: 60px;
}
