/************************************/
/* GOOGLE FONTS */
/************************************/
@import url("photographer.css");

/************************************/
/* CUSTOM PROPERTY*/
/************************************/
:root {
  --max-width: 1440px;
}

/************************************/
/* Global Styles */
/************************************/

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rosybrown; */
  animation: fadeOut 4s ease-in-out forwards;
  animation-delay: 1s;
  transition: 0.1s ease-in;
  padding-top: 40px;
}

h1 {
  color: #901c1c;
}

header h1 {
  text-align: end;
}

.logo {
  height: 50px;
}

.section-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 115px;
  animation: fadeOut 3s ease-in-out forwards;
  animation-delay: 1s;
  transition: all 0.3s ease-in-out;
}
main {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1053px) {
  .photographer_section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .photographer_section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  header a {
    display: flex;
    justify-content: center;
  }

  header img {
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-header-title {
  font-weight: 400;
}

/************************************/
/* Photographe header */
/************************************/

.photoraher-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: thistle; */
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 400;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.photographer_section .location {
  color: #901c1c;
  margin-bottom: 0;
}
.photographer_section .price {
  color: #757575;
}
.photographer_section .description {
  margin-bottom: 0;
  /* background: yellow; */
}
.photographer_section a {
  text-decoration: none;
  display: block;
  /* background: #901c1c; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************************/
/* Photographe loader */
/************************************/

.loader {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.container {
  display: flex;
}

.dot,
.shadow {
  width: 50px;
  height: 50px;
  background-color: #901c1c;
  border-radius: 25px;
  margin: 0 4px;
}

.shadow {
  opacity: 0.3;
}
